//icons
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

//icons
@mixin icon($name, $color) {
  text-indent: -9000px;
  background-repeat: no-repeat;
  $string: #{$color};
  $varcolor: str-replace($string, "#", "%23");

  @if ($name == "vr-headset") {
      background-image: url("data:image/svg+xml,%3Csvg width='140' height='91' viewBox='0 0 140 91' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.40663 13.0408C8.21264 10.4324 11.6173 8.48326 16.4467 7.63897L56.1714 0.691619C74.2111 -2.46363 87.9475 5.78956 103.659 13.0618C99.2813 16.7236 94.6729 18.7338 89.4143 20.9242C79.4327 14.6394 69.5173 8.10856 53.6913 11.2477L17.0324 18.5215C12.4079 19.4382 9.31148 21.1268 6.93307 23.5198C4.57241 20.9885 3.98991 17.4794 5.40663 13.0408ZM53.3605 42.6041C36.8568 46.3383 35.2433 95.9362 58.2496 90.5986C81.7288 85.1517 103.722 77.3681 126.452 69.4044C140.97 64.3177 146.241 22.8427 130.036 26.273C104.471 31.6845 78.8469 36.8355 53.3605 42.6041ZM57.8559 46.9478C51.7744 48.379 48.0518 56.8558 47.2515 65.8938C48.7505 58.7968 53.0862 52.4252 58.098 51.3027L131.077 34.9539C133.049 34.5117 134.922 35.2338 136.213 36.1279C134.861 32.6382 132.368 30.6231 128.537 31.469C105.957 36.4544 80.3621 41.6488 57.8559 46.9478ZM128.322 23.2174L109.5 15.3599C108.233 14.8308 107.002 14.6072 105.787 15.0945C86.3468 30.1181 54.7433 29.6534 32.6954 28.2736C12.8275 27.0304 11.5995 55.0144 22.9397 65.7329L39.9936 81.8518C32.8035 69.3144 37.9928 42.1602 49.9575 39.452C75.4439 33.6851 100.053 28.7624 125.618 23.3493C126.606 23.1402 127.506 23.1049 128.322 23.2174ZM25.7345 32.0673C21.9555 33.9167 19.4496 39.0098 18.9784 43.6622L35.2094 55.5355C35.9855 49.598 39.0223 43.8938 42.0203 41.0329L25.7345 32.0673ZM17.2374 33.2251C9.8601 29.2256 0.569123 25.2727 3.09114 15.6381C1.42109 17.5775 0.762751 19.7872 0.470694 22.5468C0.207681 25.017 -0.0730809 30.1278 0.0172794 32.4645C0.268997 38.9953 3.44774 41.7855 14.1199 52.9736C12.65 46.0986 13.6197 38.4324 17.2374 33.2251Z' fill='" + $varcolor + "' /%3E%3C/svg%3E ");
  } @else if($name == "lens") {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8633 18.3164L15.1211 13.5742C15.0312 13.4844 14.9141 13.4375 14.7891 13.4375H14.2734C15.5039 12.0117 16.25 10.1562 16.25 8.125C16.25 3.63672 12.6133 0 8.125 0C3.63672 0 0 3.63672 0 8.125C0 12.6133 3.63672 16.25 8.125 16.25C10.1562 16.25 12.0117 15.5039 13.4375 14.2734V14.7891C13.4375 14.9141 13.4883 15.0312 13.5742 15.1211L18.3164 19.8633C18.5 20.0469 18.7969 20.0469 18.9805 19.8633L19.8633 18.9805C20.0469 18.7969 20.0469 18.5 19.8633 18.3164ZM8.125 14.375C4.67188 14.375 1.875 11.5781 1.875 8.125C1.875 4.67188 4.67188 1.875 8.125 1.875C11.5781 1.875 14.375 4.67188 14.375 8.125C14.375 11.5781 11.5781 14.375 8.125 14.375Z' fill='" + $varcolor + "' /%3E%3C/svg%3E");
  } @else if($name == "cross") {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.43 15H14.49L9.03 7.56L14.16 0.51H11.1L7.38 5.73L3.63 0.51H0.57L5.67 7.56L0.24 15H3.3L7.38 9.36L11.43 15Z' fill='" + $varcolor + "'/%3E%3C/svg%3E%0A");
  } @else if($name == "check") {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 115 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 45L39.2929 74.2929C39.6834 74.6834 40.3166 74.6834 40.7071 74.2929L105 10' stroke='" + $varcolor + "' stroke-width='20' stroke-linecap='round' /%3E%3C/svg%3E ");
  } @else if($name == "triangle") {
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.66029 9C6.89049 10.3333 4.96599 10.3333 4.19619 9L0.732089 3C-0.0377112 1.66666 0.924541 -1.04312e-06 2.46414 -9.08524e-07L9.39235 -3.02841e-07C10.9319 -1.68245e-07 11.8942 1.66667 11.1244 3L7.66029 9Z' fill='" + $varcolor + "'/%3E%3C/svg%3E%0A");
  } @else if($name == "arrow-left") {
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.460277 8.82337C-0.153426 9.47416 -0.153426 10.531 0.460277 11.1818L8.31567 19.5119C8.92937 20.1627 9.92602 20.1627 10.5397 19.5119C11.1534 18.8611 11.1534 17.8042 10.5397 17.1535L3.79391 10L10.5348 2.84654C11.1485 2.19576 11.1485 1.13888 10.5348 0.488091C9.92111 -0.162697 8.92446 -0.162697 8.31076 0.488091L0.455367 8.81817L0.460277 8.82337Z' fill='" + $varcolor + "'/%3E%3C/svg%3E%0A");
  } @else if($name == "circle-filled") {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='" + $varcolor + "'/%3E%3C/svg%3E%0A");
  } @else if($name == "calendar") {
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.125 3H13.875V1.125C13.875 0.503906 14.3766 0 15 0C15.6234 0 16.125 0.503906 16.125 1.125V3H18C19.6547 3 21 4.34297 21 6V21C21 22.6547 19.6547 24 18 24H3C1.34297 24 0 22.6547 0 21V6C0 4.34297 1.34297 3 3 3H4.875V1.125C4.875 0.503906 5.37656 0 6 0C6.62344 0 7.125 0.503906 7.125 1.125V3ZM2.25 21C2.25 21.4125 2.58562 21.75 3 21.75H18C18.4125 21.75 18.75 21.4125 18.75 21V9H2.25V21Z' fill='" + $varcolor + "'/%3E%3C/svg%3E%0A");
  } @else if($name == "chain") {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='23' viewBox='0 0 28 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.4645 12.0256C28.0246 9.48751 28.0246 5.37716 25.4645 2.83908C23.1989 0.592982 19.6282 0.300989 17.0228 2.14728L16.9503 2.19669C16.2978 2.65939 16.1482 3.55783 16.615 4.20021C17.0817 4.84259 17.9879 4.99533 18.6359 4.53263L18.7084 4.48322C20.1629 3.4545 22.1521 3.61622 23.4118 4.86954C24.8392 6.28458 24.8392 8.5756 23.4118 9.99064L18.3278 15.0399C16.9004 16.4549 14.5895 16.4549 13.1621 15.0399C11.8979 13.7865 11.7348 11.8145 12.7725 10.377L12.8223 10.3051C13.289 9.65822 13.135 8.75978 12.487 8.30158C11.839 7.84337 10.9282 7.99161 10.4661 8.634L10.4162 8.70587C8.54934 11.2844 8.84387 14.8242 11.1095 17.0703C13.6696 19.6084 17.8157 19.6084 20.3759 17.0703L25.4645 12.0256ZM1.92012 10.9744C-0.640039 13.5125 -0.640039 17.6229 1.92012 20.1609C4.18574 22.407 7.75637 22.699 10.3618 20.8527L10.4343 20.8033C11.0868 20.3406 11.2364 19.4422 10.7696 18.7998C10.3029 18.1574 9.39668 18.0047 8.74871 18.4674L8.67621 18.5168C7.22168 19.5455 5.23246 19.3838 3.97277 18.1305C2.54543 16.7109 2.54543 14.4199 3.97277 13.0049L9.05684 7.96017C10.4842 6.54513 12.7951 6.54513 14.2225 7.96017C15.4867 9.21349 15.6498 11.1856 14.6121 12.6276L14.5623 12.6994C14.0956 13.3463 14.2496 14.2447 14.8976 14.7029C15.5456 15.1611 16.4564 15.0129 16.9186 14.3705L16.9684 14.2986C18.8353 11.7156 18.5407 8.17579 16.2751 5.9297C13.715 3.39161 9.56887 3.39161 7.00871 5.9297L1.92012 10.9744Z' fill='" + $varcolor + "'/%3E%3C/svg%3E ");
  }
}



//responsive
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

@mixin desktop-m {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: ($tablet - 1px)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: ($mobile - 1px)) {
    @content;
  }
}

@mixin lowmobile {
  @media screen and (max-width: $mobile-low) {
    @content;
  }
}

@mixin between($min, $max) {
  @media screen and (max-width: $max) and (min-width: $min) {
    @content;
  }
}

